@font-face {
    font-family: "iconfont"; /* Project id 2701661 */
    src: url('//at.alicdn.com/t/font_2701661_f0wy32r28jo.woff2?t=1627304033516') format('woff2'),
    url('//at.alicdn.com/t/font_2701661_f0wy32r28jo.woff?t=1627304033516') format('woff'),
    url('//at.alicdn.com/t/font_2701661_f0wy32r28jo.ttf?t=1627304033516') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  